<!doctype html>
<html>
    <head>
        <title>Manage</title>
        <meta charset="utf-8" />
        <script src="/speedphp/template/js/jquery-1.7.1.min.js"></script>
        <style>
        body, ul, ol, li, div, img, dl, dd, dt, h1, h2, h3, h4, h5, h6, p, span { margin: 0; padding: 0; }
        section, article, header, footer, nav { display: block; }
        #wrapper { width: 960px; margin: 0 auto; }
        #nav { }
        </style>
        <script>
            var init = function () {
                
            };
            $(document).ready(init);
        </script>
    </head>
    
    <body>
        <div id="wrapper">
            <div id="nav">
                <ul>
                   <li><a href="{spUrl c=znPost a=index}" target="_blank">文章管理</a></li>
                   <li><a href="{spUrl c=znFile a=index}" target="_blank">文件管理</a></li>
                   <li><a href="{spUrl c=znSet a=index}" target="_blank">信息设置</a></li>
                   <li><a href="{spUrl c=znTemplate a=index}" target="_blank">模板管理</a></li>
               </ul>
            </div>
        </div>
    </body>
</html>