<!doctype html>
<html>
    <head>
        <title>Post</title>
        <meta charset="utf-8" />
        <script src="/speedphp/template/js/ueditor/editor_config.js"></script>
        <script src="/speedphp/template/js/ueditor/editor_all_min.js"></script>
        <link rel="stylesheet" href="/speedphp/template/js/ueditor/themes/default/ueditor.css"/>
        <script src="/speedphp/template/js/jquery-1.7.1.min.js"></script>
    </head>
    
    <body>
        <div id="test" style="margin: 0 auto; width: 960px;">
            <form id="form_posts" action="{spUrl c=znPost a=addPost}" method="post">
                <div>
                    <label for="post_title">标题</label>
                    <input type="text" name="post_title" id="post_title" value="" />
                </div>
                <div>
                    <label for="post_author">作者</label>
                    <input type="text" name="post_author" id="post_author" value="" />
                </div>
                <div>
                    <label for="post_date">日期</label>
                    <input type="date" name="post_date" id="post_date" value="" />
                </div>
                <div>
                
                    <select id="gid_option">
                        {foreach from=$gid item=arr_item name=thearr1}
                        <option value="{$arr_item.group_id}">{$arr_item.typename}</option>
                        {/foreach}
                    </select>
                    <input id="group_id" name="group_id" type="hidden" value="1" />
                    <script>
                        (function ($) {
                            $('#gid_option').change(function (){
                                $('#group_id').val($(this).val());
                            });
                        })(jQuery)
                    </script>
                </div>
                <div>
                    <label for="post_excerpt">摘录</label>
                    <textarea name="post_excerpt" id="post_excerpt" style="width: 400px; height: 20px;"></textarea>
                </div>
                <div>
                    <label for="post_content" style="display: block;">正文内容(含HTML)</label>
                    <script type="text/plain" id="editor"></script>
                    <input type="submit" value="提交" />
                </div>
            </form>
            <script>
                var editor = new baidu.editor.ui.Editor({
                    initialContent: '', // 初始化的值
                    textarea:'post_content'  // 提交后台的数据 name
                });
                editor.render('editor');
            </script>
            <script>
                function addEvent (elem, type, fn) {
                    if (elem.addEventListener) {
                        elem.addEventListener(type, fn, false);
                    } else if (elem.attachEvent) {
                        elem.attachEvent('on'+type, fn);
                    } else {
                        elem['on'+type] = fn;
                    }
                }
                
                var doc = document;
                var $ = function (id) { return doc.getElementById(id); }
                addEvent($('form_posts'), 'submit', function (e) {
                    e = e || window.event;
                    if(!($('post_title').value && $('post_content').value)) {
                        alert('内容或标题不能为空');
                        e.preventDefault();
                        return false;
                    }
                });
            </script>
        </div>
    </body>
</html>