<!DOCTYPE HTML>
<html>
    <head>
        <title>登陆</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <div id="container">
            <div id="login">
                {if $error == ''} {else} {$error} {/if} 
                <form action="{spUrl c=znUser a=submit}" method="post">
                    <p>
                        <label for="user">用户名</label>
                        <input type="text" name="user" id="user" />
                    </p>
                    <p>
                        <label for="password">密码</label>
                        <input type="password" name="password" id="password" />
                    </p>
                    <p>
                        <label for="verify">验证码</label>
                        <input type="text" name="verify" id="verify" />
                    </p>
                    <img src="{spUrl c=znUser a=verify}" alt="" />
                    <input type="submit" value="submit" />
                </form>
            </div>
        </div>
    </body>
</html>